<div class="row">
  <div class="side">
    <div class="disc">Awesome 5</div>
    <div class="bar-container">
      <div class="bar bar-5"></div>
    </div>
    <div class="count">9</div>
  </div>
  <div class="side">
    <div class="disc">Great 4</div>
    <div class="bar-container">
      <div class="bar bar-4"></div>
    </div>
    <div class="count">2</div>
  </div>
  <div class="side">
    <div class="disc">Good 3</div>
    <div class="bar-container">
      <div class="bar bar-3"></div>
    </div>
    <div class="count">0</div>
  </div>
  <div class="side">
    <div class="disc">Ok 2</div>
    <div class="bar-container">
      <div class="bar bar-2"></div>
    </div>
    <div class="count">0</div>
  </div>
  <div class="side">
    <div class="disc">Awful 1</div>
    <div class="bar-container">
      <div class="bar bar-1"></div>
    </div>
    <div class="count">2</div>
  </div>
</div>
