<div class="row">
  <div class="side">
    <div class="disc">Awesome</div>
    <div class="bar-container">
      <div class="{{'bar bar-' + ratingDistribution[5]}}"></div>
    </div>
    <div class="count">{{ ratingDistribution[5] }}</div>
  </div>
  <div class="side">
    <div class="disc">Great</div>
    <div class="bar-container">
      <div class="{{'bar bar-' + ratingDistribution[4]}}"></div>
    </div>
    <div class="count">{{ ratingDistribution[4] }}</div>
  </div>
  <div class="side">
    <div class="disc">Good</div>
    <div class="bar-container">
      <div class="{{'bar bar-' + ratingDistribution[3]}}"></div>
    </div>
    <div class="count">{{ ratingDistribution[3] }}</div>
  </div>
  <div class="side">
    <div class="disc">Ok</div>
    <div class="bar-container">
      <div class="{{'bar bar-' + ratingDistribution[2]}}"></div>
    </div>
    <div class="count">{{ ratingDistribution[2] }}</div>
  </div>
  <div class="side">
    <div class="disc">Awful</div>
    <div class="bar-container">
      <div class="{{'bar bar-' + ratingDistribution[1]}}"></div>
    </div>
    <div class="count">{{ ratingDistribution[1] }}</div>
  </div>
</div>
