mat-toolbar {
    background: #004a9f;
    color: white;
}

mat-sidenav {
    margin: 16px;
    width: 240px;
    border-right: none;
    background: rgb(63,81,181);
    border-radius: 10px 0 0 10px;
    padding: 16px;
    text-align: center;
}

.content {
    top: 14%;
    height: calc(100vh - 98px);
    margin: 16px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    color: lightgray;
    overflow-y: scroll;
}

mat-sidenav-container {
    top: 12%;
    height: 90vh;
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    margin-top: .5rem;
    padding: 2rem 1rem;
}

.activeAdminLink {
    border-left: .5rem solid grey;
    transition: all 600ms;
}