<mat-drawer-container class="example-container" autosize>
    <div class="example-sidenav-content">
        <button type="button" mat-button (click)="drawer.toggle()" style="background-color: #3f51b5; color: white; margin-left: .5em;">
          Admin
        </button>
    </div>
    <mat-drawer #drawer class="example-sidenav" >

      <p style="font-weight: bold;">Admin</p>
      <button class="button" type="button" mat-flat-button (click)="drawer.toggle()" color="primary">
        Students
      </button> <br>
      <button class="button" type="button" mat-stroked-button (click)="drawer.toggle()">
        Instructors
      </button> <br>
      <button class="button" type="button" mat-stroked-button (click)="drawer.toggle()">
        Courses
      </button> <br>
      <button class="button" type="button" mat-stroked-button (click)="drawer.toggle()">
        Departments
      </button> <br>
      <button class="button" type="button" mat-button (click)="drawer.toggle()">
        Reports
      </button>

    </mat-drawer>
  
</mat-drawer-container>