.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.left {
    display: flex;
    flex-direction: column;
}

.right {
    align-self: flex-start;
    margin-top: 4rem;
}

.reviews-container {
    margin: 3rem;
}