<div class="container" style="margin-top: 2rem">
  <div class="profile-container">
    <div class="left">
      <app-professor-detail class="professor-detail" [instructor]="instructor"></app-professor-detail>
      <app-top-tags class="top-tags"></app-top-tags>
    </div>
    <div class="right">
      <app-rating-bar [ratingDistribution]="instructor.ratingDistribution"></app-rating-bar>
    </div>
  </div>
  <mat-tab-group>
    <mat-tab label=" {{instructor.totalRating + ' Ratings'}}">
      <div class="reviews-container">
        <h1>{{ instructor.totalRating }} Reviews</h1>
        <mat-divider></mat-divider>

        <app-instructor-review-display
          *ngFor="let rating of instructor.ratings"
          [rating]="rating"
          class="review-display"
          style="margin-bottom: 3rem"
        ></app-instructor-review-display>
      </div>
    </mat-tab>
    <mat-tab label="5 Comments">
      <div class="reviews-container">
        <app-comment-section> </app-comment-section>
        <h1>24 Comments</h1>
        <mat-divider></mat-divider>

        <app-view-comment></app-view-comment>
        <app-view-comment></app-view-comment>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
