<div class="container">
  <div class="profile-container" style="margin-bottom: 4rem">
    <div class="left">
      <app-professor-detail class="professor-detail"></app-professor-detail>
      <app-top-tags class="top-tags"></app-top-tags>
    </div>
    <div class="right">
      <app-rating-bar></app-rating-bar>
    </div>
  </div>

  <div class="reviews-container">
    <h1>24 Reviews</h1>
    <mat-divider></mat-divider>
    <app-comment-section

    >
    </app-comment-section>
    <app-instructor-review-display
      class="review-display"
      style="margin-bottom: 3rem"
    ></app-instructor-review-display>
    <app-instructor-review-display
      class="review-display"
      style="margin-bottom: 3rem"
    ></app-instructor-review-display>
    <app-instructor-review-display
      class="review-display"
      style="margin-bottom: 3rem"
    ></app-instructor-review-display>
  </div>
</div>
