<div class="container">
    <div class="rates">
        <div class="quality">
            <p>Quality</p>
            <span id="quality">5.3</span>
        </div>
        <div class="difficulty">
            <p>Difficulty</p>
            <p id="difficulty">3.3</p>
        </div>
    </div>
    <div class="review">
        <div class="top-content">
            <div class="subject"><p>subject:</p></div>
            <div class="level">how good:</div>
            <div class="date"><p>date</p></div>
        </div>
        <div class="review-part">
            <div class="attendance"><p>Attendance:</p></div>
            <div class="take-again"> <p>Take again:</p>
            </div>
            <div class="grade"><p>Grade:</p></div>
        </div>
        <div class="comment">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea, quos. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, officia!</div>
        <div class="chips">
            <mat-chip-listbox aria-label="Instuctors trait">
                <mat-chip>
                  Amazing lectures
                </mat-chip>
                <mat-chip color="primary">
                  Inspirational
                </mat-chip>
                <mat-chip color="accent">
                  Respected
                </mat-chip>
              </mat-chip-listbox>
              
        </div>
        <div class="icons">
            <div class="like-dislike"><button mat-icon-button>
                <mat-icon class="material-icons">thumb_up</mat-icon>
              </button>
            <button mat-icon-button>
                <mat-icon class="material-icons">thumb_down</mat-icon>
            </button></div>
            <div class="flag">
                <button mat-icon-button>
                    <mat-icon class="material-icons">new_releases</mat-icon>
                  </button>
            </div>
            
        </div>
    </div>
</div>
