<div class="container">
  <mat-menu #menu="matMenu" class="menuItems" style="margin-left: 5rem;">
    <div class="button-class create-button">
      <button class="delete" mat-button color="primary" aria-label="edit icon">
        <span><mat-icon>create</mat-icon> Create</span>
      </button>
    </div>
    <div class="button-class flag-button">
      <button mat-button color="warn" aria-label="report button" (click)="openEditDialog() ">
        <span
          ><mat-icon class="material-icons">outlined_flag</mat-icon>
          Report</span
        >
      </button>
    </div>
    <div class="button-class delete-button">
      <button class="delete" mat-button color="warn" aria-label="delete icon" (click)="openDialog()">
        <span><mat-icon>delete</mat-icon> Delete</span>
      </button>
    </div>
  </mat-menu>
  <div class="rates">
    <div class="quality">
      <p style="text-align: center; font-weight: 900; margin: 0">QUALITY</p>
      <span id="quality">5.3</span>
    </div>
    <div class="difficulty">
      <p style="text-align: center; font-weight: 900; margin: 0">DIFFICULTY</p>
      <p id="difficulty">3.3</p>
    </div>
  </div>
  <div class="review">
    <div class="top-content">
      <div class="levelAndSubject">
        <div class="subject">Rating for the course: CS50</div>
        <div class="prof--name" style="font-weight: normal;">Inst. Abebe</div>
      </div>
      <div class="date" style="font-weight: 500; margin-right: 2rem;">Dec 23rd 2023</div>
    </div>
    <div class="review-part">
      <div class="attendance">Attendance: <strong>Not mandatory</strong></div>
      <div class="take-again">Would take again: <strong>Yes</strong></div>
      <div class="grade">Grade: <strong>Rather not say</strong></div>
      <div class="textBook">Textbook: <strong>N/A</strong></div>
    </div>
    <div class="comment">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea, quos. Lorem
      ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, officia!
    </div>
    <div class="chips">
      <mat-chip-listbox aria-label="Instuctors trait">
        <mat-chip> Amazing lectures </mat-chip>
        <mat-chip color="primary"> Inspirational </mat-chip>
        <mat-chip color="accent"> Respected </mat-chip>
      </mat-chip-listbox>
    </div>
    <div class="icons">
      <div class="like-dislike">
        <button mat-icon-button>
          <mat-icon class="material-icons">thumb_up</mat-icon></button
        >2
        <button mat-icon-button>
          <mat-icon class="material-icons">thumb_down</mat-icon></button
        >5
      </div>
    </div>
  </div>
  <div class="dropDown">
    <a [matMenuTriggerFor]="menu">
      <span>
        <mat-icon>
          <mat-icon>more_vert</mat-icon>
        </mat-icon>
      </span>
    </a>
  </div>
</div>
