<div class="container">

    <h3> Edit Instructor</h3>

    <mat-form-field appearance="fill">
        <mat-label>Instructor Name</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Department</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Courses</mat-label>
        <input matInput>
    </mat-form-field>
    <div class="btn">
        <button style="margin-left: 6px" mat-raised-button color="primary">
            Submit
        </button>
    </div>
</div>
    