<div class="container">
  <h3>Edit comment</h3>
  <div class="comment-section">
    <mat-form-field appearance="fill">
      <mat-label> Your comment</mat-label>
      <textarea
        rows="10"
        cols="10"
        placeholder="what's on your mind"
        class="comments"
        matInput
        [(ngModel)]="newComment.comment"
      ></textarea>
    </mat-form-field>
    <div class="btn">
      <button
        style="margin-left: 6px"
        mat-raised-button
        color="primary"
        (click)="submitEdit()"
      >
        Submit comment
      </button>
    </div>
  </div>
</div>
