.comments {
    resize: none;
  }
  mat-form-field {
    width: 25rem;
  }
  .comment-section {
    display: flex;
    flex-direction: column;
  }
  .comment-section button {
    align-self: flex-start;
    margin-bottom: 20px;
  }
  h3{
    margin-top: .9rem;
  }
  .container{
    padding: 0 2rem;
  }
  .btn{
    display: flex;
    justify-content: flex-end;
  }
  