.spacer {
    flex: 1 1 auto;
  }
a {
    margin-right: .5rem ;

} 

.logo{
    width: 200px;
    height: 50px;
    margin-right: 5px;
}
.logo:hover{
    cursor: pointer;
}

.container{
    display: flex;
    align-items: center;
}

.first{
    margin-left: .5rem;
}
.in{
    font-size: medium;
}
::ng-deep .searchBar {
    border-radius: .4rem;
    padding-left: .4rem;
    border: none;
    font-size: medium;
    
}
::ng-deep .searchBar:focus {
    outline: none;
    border: 3px solid rgba(0, 0, 0, 0.118);

}

