<div class="container">
  <div class="top">
    <h1>Instructors</h1>
    <mat-divider></mat-divider>
  </div>
  <div class="bottom">
    <div class="instructors">
      <app-instructor-card
        *ngFor="let instructor of allInstructors"
        [instructor]="instructor"
      ></app-instructor-card>
    </div>
    <div class="filters-container">
      <label id="example-radio-group-label">Department</label>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
        [(ngModel)]="filterDepartment"
      >
        <mat-radio-button
          class="example-radio-button"
          *ngFor="let department of departments"
          [value]="department"
        >
          {{ department }}
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
</div>
{{ allInstructors }}
