<mat-grid-list style="margin-top: 14px" cols="1" rowHeight="500px">
  <br />
  <h1 class="mat-headline-4" style="text-align: center">
    <strong>Sign Up</strong> to rate your favorite instructors
  </h1>
  <mat-grid-tile>
    <div class="example-container" style="width: 400px">
      <mat-form-field appearance="fill" class="width-100">
        <mat-label>Email address</mat-label>
        <input
          [(ngModel)]="signUpData.email"
          matInput
          placeholder="Ex. pat@example.com"
        />
      </mat-form-field>
      <br />
      <mat-form-field appearance="fill" class="width-100">
        <mat-label>Enter password</mat-label>
        <input
          [(ngModel)]="signUpData.password"
          matInput
          [type]="hide ? 'password' : 'text'"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field
        style="margin-right: 4px; width: 200px"
        appearance="fill"
        class="width-25"
      >
        <mat-label>Department</mat-label>
        <mat-select [(ngModel)]="signUpData.department">
          <mat-option [value]="6"> Software Engineering </mat-option>
          <mat-option [value]="6"> Electrical Engineering </mat-option>
          <mat-option [value]="6"> Civil Engineering</mat-option>
          <mat-option [value]="6"> Mechanical Engineering</mat-option>
          <mat-option [value]="6"> Chemical Engineering </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="width-25">
        <mat-label>Year</mat-label>
        <mat-select [(ngModel)]="signUpData.year">
          <mat-option [value]="1"> 1 </mat-option>
          <mat-option [value]="2"> 2 </mat-option>
          <mat-option [value]="3"> 3 </mat-option>
          <mat-option [value]="4"> 4 </mat-option>
          <mat-option [value]="5"> 5 </mat-option>
        </mat-select>
      </mat-form-field>

      <br />
      <br />
      <span>
        <button style="margin-right: 40px" mat-raised-button color="primary">
          Sign Up
        </button>
      </span>
      <span
        >already have an account? <a [routerLink]="['/login']">Login</a></span
      >
    </div>
  </mat-grid-tile>
</mat-grid-list>
