<div>
  <div>
    <h1 class="mat-headline-4" style="text-align: center">
      <strong>Sign Up</strong> to rate your favorite instructors
    </h1>
  </div>
  <div
    style="
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: cneter;
    "
  >
    <div class="example-container" style="width: 400px">
      <!-- username -->
      <mat-form-field appearance="fill" class="width-100">
        <mat-label>Create a username</mat-label>
        <input
          [(ngModel)]="signUpData.username"
          matInput
          placeholder="john-doe"
        />
      </mat-form-field>

      <!-- School ID -->
      <mat-form-field appearance="fill" class="width-100">
        <mat-label>Enter your school ID</mat-label>
        <input
          [(ngModel)]="signUpData.schoolId"
          matInput
          placeholder="AAA/BBB/CC"
        />
      </mat-form-field>

      <!-- Email -->
      <mat-form-field appearance="fill" class="width-100">
        <mat-label>Email address</mat-label>
        <input
          [(ngModel)]="signUpData.email"
          matInput
          placeholder="Ex. pat@example.com"
        />
      </mat-form-field>
      <br />

      <!-- Password -->
      <mat-form-field appearance="fill" class="width-100">
        <mat-label>Enter password</mat-label>
        <input
          [(ngModel)]="signUpData.password"
          matInput
          [type]="hide ? 'password' : 'text'"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>

      <div class="dep-and-year">
        <mat-form-field
          style="margin-right: 4px; width: 200px"
          appearance="fill"
          class="width-25"
        >
          <mat-label>Department</mat-label>
          <mat-select [(ngModel)]="signUpData.department">
            <mat-option
              *ngFor="let name of departmentNames"
              [value]="departments[name]"
            >
              {{ name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="width-25">
          <mat-label>Year</mat-label>
          <mat-select [(ngModel)]="signUpData.academicYear">
            <mat-option [value]="1"> 1 </mat-option>
            <mat-option [value]="2"> 2 </mat-option>
            <mat-option [value]="3"> 3 </mat-option>
            <mat-option [value]="4"> 4 </mat-option>
            <mat-option [value]="5"> 5 </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <br />
      <br />
      <div class="signup-btn">
        <span>
          <button
            (click)="handleSignup()"
            style="margin-right: 40px"
            mat-raised-button
            color="primary"
          >
            Sign Up
          </button>
        </span>
        <span
          >already have an account? <a [routerLink]="['/login']">Login</a></span
        >
      </div>
    </div>
  </div>
</div>
