.footer {
  background-color: #4444ff;
  display: flex;
}
.about {
  margin: 20px;
  width: 600px;
  margin-left: 50px;
}
.about p {
  margin-right: 10px;
  color: white;
}
li {
  list-style: none;
  font-weight: 400;
  margin-top: 10px;
  color: white;
}
p {
  color: white;
}
.fa {
  padding: 5px;
  font-size: 23px;
  width: 15px;
  text-decoration: none;
}
.fa-facebook,
.fa-twitter,
.fa-instagram,
.fa-linkedin {
  background: #4444ff;
  color: white;
  margin-right: 50px;
}
