<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
</head>
<div class="footer">
  <div class="about">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, labore.
      Obcaecati commodi, laboriosam sed possimus necessitatibus, error quam
      doloribus iste facere maxime molestias harum nemo explicabo nostrum
      aspernatur similique dolores.
    </p>
  </div>
  <div class="links">
    <ul>
      <li>Admin</li>
      <li>Home</li>
      <li>Profile</li>
      <li>Instructors</li>
      <li>Signup</li>
    </ul>
  </div>
  <div class="social">
    <ul>
      <ul class="social-icons">
        <li>
          <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
        </li>
        <li>
          <a class="dribbble" href="#"><i class="fa fa-instagram"></i></a>
        </li>
        <li>
          <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
        </li>
        <p class="copyright-text">
          Copyright &copy; 2017 All Rights Reserved by
        </p>
      </ul>
    </ul>
  </div>
</div>
