.info{
    width: 50%;
    margin-left: 1%;
    margin-top: 50px;
}
.rating{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
h1{
    font-weight: 1000;
    font-size: 40px;
    margin: 0;
}
.outOf{
    color: rgb(130, 133, 120);
}
.overall{
    font-weight: 500;
    align-items: center;
    padding-left: 1%;
    margin: 0;
    font-size: 20px;
}
.department{
    display: flex;
    margin-top: 10px;
}
.dep{
    text-decoration:underline ;
}
.btn-container{
    text-align: left;
}
.stat{
    display: flex;
    margin: 10px 0;
}

.percentage{
    border-right: 1px solid black;
    padding-right: 1%;
    padding-bottom: 1%;
}

.difficulty{
    border-left: 1px solid black;
    padding-left: 1%;
    padding-bottom: 1%;
}
.probab,.level-diff{
    font-size: 2em;
    text-align: center;
    font-weight: 900;
}