<div class="info">
    <div class="rating">
        <div><h1 class="value">4.5</h1></div>
        <div class="outOf">/5</div>
        <p class="overall">overall rating</p>
    </div>
    <h1>Jelani Nelson</h1>
    <div class="department">
        <p>Professor in the department of&nbsp;</p>
        <p class="dep"><b>Software Engineering</b></p>
    </div>
    <div class="stat">
        <div class="percentage">
            <p class="probab">N/A</p>
            <p>would take again</p>
        </div>
        <div class="difficulty">
            <p class="level-diff">1.5</p>
            <p>level of difficulty</p>
        </div>
    </div>
    <div class="btn-container">
        <button class="rate-btn" mat-raised-button color="primary">Rate this professor</button>
    </div>
</div>