.info{
    width: 50%;
    margin: 25px 1%;
}
.rating{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
h1{
    font-weight: 1000;
    font-size: 40px;
    margin: 0;
}
.outOf{
    color: rgb(130, 133, 120);
}
.overall{
    font-weight: 500;
    align-items: center;
    padding-left: 1%;
    margin: 0;
    font-size: 20px;
}
.department{
    display: flex;
    margin-top: 10px;
}
.dep{
    text-decoration:underline ;
}
.btn-container{
    text-align: left;
    margin-top: 1rem;
}
.stat{
    display: flex;
    margin: 10px 0;
    gap: 3rem;
}

.probab,.level-diff{
    font-size: 2em;
    text-align: center;
    font-weight: 900;
}

.value {
    font-size: 5rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.percentage, .difficulty {
    margin-top: 1rem;
}